@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.deleted {
  animation: myAnimDelete 1s ease 0s 1 normal forwards;
}


@keyframes myAnimDelete {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}


.yourNotesContainer {
  display: flex;
  flex-direction: column;
  padding-top: calc(4rem + 3vmin);

  .yourNotesHeader {
    margin-bottom: 1vmin;
    padding-left: 4vmin;
    color: $text;

    h2 {
      font-size: calc(0.7rem + 3.2vmin);
      font-weight: 300;
    }
  }
}

.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 8vmin;
  width: 100%;
  padding: 8vmin 4vmin;
  background-color: $field;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .searchbar {
    padding: 2vmin 3vmin;
    border: none;
    border-radius: 3px;
    background-color: $input;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: $text;

    &:focus {
      outline: none;
    }
  }

  .showAllBtn {
    height: fit-content;
    border: none;
    border-bottom: 1px solid $text;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: $text;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.note {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  padding: 4vmin;
  border-radius: 3px;
  box-shadow: 0 0 50px 5px $note-shadow;
  background-color: $note-background;
  color: $text;
  scroll-margin: 30vmin;

  .firstLine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .titleText {
      font-size: calc(0.5rem + 3.2vmin);
      font-weight: 300;
      color: $title;
      overflow-wrap: break-word;
    }

    .btnContainer {
      .noteIcon {
        margin-left: 0.7rem;
        border: none;
        background: none;
        font-size: calc(0.5rem + 3.2vmin);
        color: $text;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .noteText {
    font-size: 1em;
    overflow-wrap: break-word;
    font-weight: 200;
  }

  .tagText {
    font-size: 1em;
    color: $tag;
    text-align: end;
    overflow-wrap: break-word;
  }
}

input,
input::-webkit-input-placeholder {
  font-size: calc(0.9rem + 0.5vmin);
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .yourNotesContainer{
    .yourNotesHeader{
      padding-left: 10vmin;
    }
  }

  .notesContainer {
    padding: 8vmin 10vmin;
  }

  .searchContainer {
    .searchbar{
      width: 45%;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .yourNotesContainer {
    padding-top: calc(4rem + 3vmin);

    .yourNotesHeader {
      z-index: 1;
      margin-bottom: 1vmin;
      padding-left: 3vmin;

      h2 {
        font-size: calc(1rem + 1.7vmin);
        font-weight: 300;
        color: $text;
      }
    }
  }

  .notesContainer {
    z-index: 0;
    gap: 3vmin;
    min-height: 30vmin;
    padding: 4vmin 3vmin;
    box-shadow: 0 0 50px 5px $box-shadow;
  }

  .searchContainer {
    .searchbar {
      width: 45%;
      padding: 1vmin 2vmin;
      font-size: 1em;
    }

    .showAllBtn {
      font-size: calc(0.3rem + 2vmin);
    }
  }

  .note {
    gap: 2vmin;
    padding: 3vmin;

    .firstLine {
      .titleText {
        font-size: calc(0.3rem + 2vmin);
      }

      .btnContainer {
        .noteIcon {
          margin-left: 1rem;
          font-size: calc(0.3rem + 2vmin);
        }
      }
    }

    .noteText {
      font-size: calc(0.9rem + 0.4vmin);
    }

    .tagText {
      font-size: calc(0.9rem + 0.4vmin);
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1366px) {
  .yourNotesContainer {
    width: 134vmin;
  }

  .notesContainer {
    border-radius: 3px;
  }

  .searchContainer {
    .searchbar {
      width: 35%;
    }

    .showAllBtn {
      font-size: 1em;
      &:active {
        transform: scale(0.97);
      }
    }
  }

  .note {
    .firstLine {
      .titleText {
        font-size: calc(0.8rem + 1vmin);
      }

      .btnContainer {
        .noteIcon {
          font-size: calc(0.3rem + 1.5vmin);

          &:active {
            transform: scale(0.96);
          }
        }
      }
    }
  }
}