@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.yourNotesContainer {
  display: flex;
  flex-direction: column;
  padding-top: calc(4rem + 3vmin);

  .yourNotesHeader {
    margin-bottom: 1vmin;
    padding-left: 4vmin;
    color: $text;

    h2 {
      font-size: calc(0.7rem + 3.2vmin);
      font-weight: 300;
    }
  }
}

.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 8vmin;
  width: 100%;
  padding: 8vmin 4vmin;
  background-color: $field;

  .searchbar {
    padding: 2vmin 3vmin;
    border: none;
    border-radius: 3px;
    background-color: $input;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: $text;

    &:focus {
      outline: none;
    }
  }
}

.note {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  padding: 4vmin;
  border-radius: 3px;
  box-shadow: 0 0 50px 5px $note-shadow;
  background-color: $note-background;
  color: $text;

  .firstLine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .titleText {
      font-size: calc(0.5rem + 3.2vmin);
      font-weight: 300;
      color: $title;
      overflow-wrap: break-word;
    }

    .btnContainer {
      .noteIcon {
        margin-left: 0.7rem;
        border: none;
        background: none;
        font-size: calc(0.5rem + 3.2vmin);
        color: $text;
        cursor: pointer;
      }
    }
  }

  .noteText {
    font-size: calc(0.9rem + 0.5vmin);
    overflow-wrap: break-word;
    font-weight: 200;
  }

  .tagText {
    font-size: calc(0.9rem + 0.5vmin);
    color: $tag;
    text-align: end;
    overflow-wrap: break-word;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .yourNotesContainer {
    padding-top: calc(4rem + 3vmin);

    .yourNotesHeader {
      margin-bottom: 1vmin;
      padding-left: 3vmin;

      h2 {
        font-size: calc(1rem + 1.7vmin);
        font-weight: 300;
        color: $white-text;
      }
    }
  }

  .notesContainer {
    gap: 3vmin;
    min-height: 30vmin;
    padding: 4vmin 3vmin;

    .searchbar {
      padding: 1vmin 2vmin;
      font-size: 1em;
    }
  }

  .note {
    gap: 2vmin;
    padding: 3vmin;

    .firstLine {
      .titleText {
        font-size: calc(0.3rem + 2.3vmin);
      }

      .btnContainer {
        .noteIcon {
          margin-left: 1rem;
          font-size: calc(0.3rem + 2.3vmin);
        }
      }
    }
  }
}