@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE
.newNotesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(4rem + 3vmin);
}

.newNotesHeader {
  display: none;
}

.newNotesForm {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  width: 100%;
  padding: 8vmin 4vmin;
  background-color: $field;

  .label{
    font-size: calc(0.5rem + 3.2vmin);
    font-weight: 300;
    color: $text;
  }

  .textInput {
    display: block;
    width: 100%;
    margin-top: 2vmin;
    padding: 2vmin 3vmin;
    border: none;
    border-radius: 3px;
    background-color: $input;
    font-size: calc(0.9rem + 0.5vmin);
    font-family: 'Poppins', sans-serif;
    color: $text;

    &:focus {
      outline: none;
    }
  }

  .textarea {
    display: block;
    width: 100%;
    height: fit-content;
    min-height: 40vmin;
    margin-top: 2vmin;
    padding: 2vmin 3vmin;
    border: none;
    background-color: $input;
    font-size: calc(0.9rem + 0.5vmin);
    font-family: 'Poppins', sans-serif;
    color: $text;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}

.lastLineContainer {
  display: flex;
  flex-direction: column;

  .submitBtn{
    margin-top: 8vmin;
    padding: 2vmin 4vmin;
    border: none;
    border-radius: 3px;
    background: linear-gradient($gradient);
    font-size: calc(1rem + 1vmin);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $input;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }

    &:focus {
      outline:none;
    }
  }
}

.animationSvg {
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .newNotesContainer {
    padding-top: 0;
  }

  .newNotesHeader {
    display: flex;
    background: -webkit-linear-gradient($text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 11vmin;
    font-weight: 700;
    white-space: nowrap;
  }

  .newNotesForm{
    width:80vw;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .newNotesContainer {
    justify-content: center;
    height: 83vh;
    padding-top: 0;
    border-radius: 3px;

    .newNotesHeader {
      display: flex;
      background: -webkit-linear-gradient($text-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      white-space: nowrap;

      h1 {
        font-size: calc(1rem + 6.5vmin);
      }
    }
  }

  .newNotesForm {
    position: relative;
    width: 70vmin;
    gap: 2vmin;
    padding: 4vmin 3vmin;
    box-shadow: 0 0 50px 5px $box-shadow;

    .label{
      font-size: calc(0.3rem + 2vmin);
      font-weight: 300;
      color: $text;
    }

    .textInput {
      z-index: 1;
      margin-top: 1vmin;
      padding: 1vmin 2vmin;
    }

    .textarea {
      min-height: 20vmin;
      margin-top: 1vmin;
      padding: 1vmin 2vmin;
    }
  }

  .lastLineContainer {
    display: flex;
    flex-direction: column;
    gap: 3vmin;

    .tagInput {
      width: 76%;
    }

    .submitBtn{
      z-index: 1;
      width: fit-content;
      margin-top: 0;
      padding: 1vmin 3vmin;
      font-size: calc(0.3rem + 2vmin);
      font-weight: 700;
    }
  }

  .animationSvg {
    z-index: 0;
    position: absolute;
    top: calc(6rem + 32vmin);
    left: 24vmin;
    display: flex;
    width: 72vmin;
    height: auto;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1366px) {
  .newNotesContainer {
    height: 86vh;

    .newNotesHeader {
      h1 {
        font-size: calc(1rem + 6vmin);
      }
    }
  }

  .newNotesForm {
    width: 65vmin;

    .label{
      font-size: calc(0.3rem + 2vmin);
    }

    .textInput {
      margin-top: 0.6vmin;
    }

    .textarea {
      z-index: 2;
      min-height: 18vmin;
      margin-top: 0.6vmin;
      resize: vertical;
    }
  }

  .lastLineContainer {
    flex-direction: row;
    align-items: flex-end;
    gap: 4vmin;

    .tagInput {
      width: 100%;
    }

    .submitBtn{
      height: fit-content;

      &:active {
        transform: scale(0.98);
      }
    }
  }

  .animationSvg {
    z-index: -1;
    top: calc(4rem + 23vmin);
    left: 42vmin;
    width: 72vmin;
    height: auto;
  }
}