$input: #141c2b;
$box-shadow: #131925;
$note-shadow: #1319256c;
$field: rgba(32, 44, 66, 0.50);
$note-background: #202c42;
$text: #ffecd1;
$title: #ff7144;
$tag: #ffc73e;
$gradient: 95deg, #ff7144, #ffc83e;
$text-gradient: 315deg, #ff7144, #ff7144, #ff7144, #ffc83e, #ffc83e, #ffc83e;