@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: clip;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background:  url("../public/assets/images/Background-03.jpg")  repeat  fixed ;
  background-size: cover;
  overflow-x: clip;

  @media screen and (min-height: 568px) and (min-width: 613px) {
    background:  url("../public/assets/images/Background-02.jpg") repeat  fixed ;
    background-size: cover;
  }

  @media screen and (min-height: 568px) and (min-width: 1366px) {
    background:  url("../public/assets/images/Background-01.jpg")  repeat  fixed ;
    background-size: cover;
  }

}

.hidden {
  display: none !important;
}

